# remove the prose silo
docs/journal/**/*.md -linguist-detectable
# remove scaffold stuff
docs/vendor/** linguist-vendored
# expose as code
docs/** linguist-documentation=false -linguist-vendored
*.css linguist-vendored
*.md linguist-language=Liquid
*.html linguist-language=Liquid
# not covered in default linguist settings
AGENTS.md linguist-documentation
