docs/journal/**/*.md -linguist-detectable
docs/** linguist-documentation=false -linguist-vendored
*.css linguist-vendored
*.md linguist-language=Liquid
*.html linguist-language=Liquid
AGENTS.md linguist-documentation
