[submodule "journal"]
	path = journal
	url = https://github.com/fccn-antibody/journal.anecdote.channel
[submodule "publish/autumn-ryan"]
	path = publish/autumn-ryan
	url = https://github.com/tiliv/cite-autumn-ryan
