.side {
  margin: 0;
  align-self: start;
  grid-row: auto / span 10;
}
.side.left { grid-column: left / content-start; justify-self: end; }
.side.right { grid-column: content-end / right; justify-self: start; }
figure {
  cursor: zoom-in;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform .25s ease, transform-origin;
}
figcaption {
  color: var(--fg2);
  font-size: 0.8em;
  text-align: initial;
  padding: 0 0.5em;
}
