:root {
  --accent-age-2025: #990049;
  --accent-age-2025-bright: var(--io);
  --accent-age-2026: #007d99;
  --accent-age-2026-bright: #007d99;
}
:root[data-dark="true"] {
  --accent-age-2026-bright: #cdf7ff;
}
[data-year="2025"] { --accent-age: var(--accent-age-2025); --accent-age-bright: var(--accent-age-2025-bright); }
[data-year="2026"] { --accent-age: var(--accent-age-2026); --accent-age-bright: var(--accent-age-2026-bright); }

[data-year]:not(hr,h1,h2,h3,h4,h5,h6) { background-color: var(--accent-age); }
hr[data-year] { filter: drop-shadow(0 .3em 0 var(--accent-age)); }


.change-stack {
  --bg: canvas;
  --cap: 0.78;
  display: flex;
  flex-direction: row;
  gap: 2px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.change-stack + * {
  align-self: center;
}
.change-stack .bar {
  inline-size: max-content;  /* effective height */
  padding: 0;
  position: relative;
}
.change-stack li {
  margin: 0;
  padding: 0;
}

.change-stack .bar code {
  background: none;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  user-select: text;
  white-space: nowrap;
  width: 1.1em;
}
