#layout {
  display: grid;
  grid-template-columns:
  [left] 1fr
  [content-start] minmax(300px, min(72ch, 700px))
  [content-end] 1fr
  [right];
  column-gap: 1.5rem;
  grid-auto-flow: row;
  row-gap: 0;
}

.sticky-sentinel {
  display: block;
  height: 0px; /* avoid 0 to stop jitter boundary */
  position: relative;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
h2 {
  z-index: 5;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
  margin-top: 1.8rem !important;

  font-size: 7em;
  text-shadow: 0 .06em var(--sh);
  position: sticky;
  top: 0px;
}
article h3, article h4 {
  word-wrap: break-word;
  place-content: center;
  hyphens: auto;
  text-align: center;
  margin: 0.5em auto;
  line-height: 1.2em;
  min-height: 40px;
}
article > h5, article > h6 {
  word-wrap: break-word;
  place-content: center;
  hyphens: auto;
  text-align: center;
  margin: 0.5em auto;
  line-height: 1.2em;
}
article h3 { font-size: 2em }
article h4 { font-size: 1.5em }
article h3, article h4 {
  text-shadow: 0 .06em var(--sh);
  top: 40px;
}
article blockquote {
  color: var(--fg1);
  padding: 0 0 0 10px;
  margin: 0 0 .5em 0;
  font-size: 0.8em;
  line-height: 1.95em;
  border-left: 10px solid var(--accent);
  position: relative;
}
article blockquote::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 0;
  border-left: 10px solid var(--accent);
  mix-blend-mode: saturation;
  pointer-events: none;
  z-index: -1;
}
article header h5,
article blockquote p {
  margin: 0;
  padding: 0;
  position: relative;
}
article blockquote p img {
  width: 100%;
}
article header h5::before,
article blockquote p::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--shade);
  z-index: -1;
  mix-blend-mode: luminosity;
}
article blockquote strong:first-child {
  font-family: Arial;
}
article blockquote u {
  --u-float: .3em;
  text-decoration-style: double;
  vertical-align: var(--u-float);
  text-underline-offset: var(--u-float);
  line-height: calc(1em - var(--u-float));
  font-weight: bold;
}
article blockquote u,
article blockquote del {
  text-decoration-color: var(--io);
}
article blockquote code {
  box-shadow: .35em .35em 0 black;
  margin-right: .4em;
}
aside.side {
  font-size: 0.9em;
  text-align: left;
}
aside.side ul,
aside.side ol {
  padding-left: 0;
  line-height: 1.2em;
}
aside.side li {
  margin-left: 1em;
  line-height: 1.2em;
}
aside.side li a {
  color: var(--fg2);
  text-decoration: none;
}
aside.side a:hover {
  text-decoration: underline;
}

#by-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  color: var(--fg2);
  text-shadow: 0 2px var(--sh);
}
.size {
  font-family: ArticleFont !important;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: monospace;
}
.tags span {
  margin: 0 0.2em;
  color: var(--io);
}
.tags span::before {
  content: "+";
  padding: 0 1em;
  color: var(--fg1);
}
.tags span:first-child::before {
  content: "";
  padding: 0;
}

article {
  font-family: ArticleFont, "Times New Roman", times, serif;
  font-size: 1.3rem;
  text-align: justify;
}
a {
  color: var(--io);
  text-decoration: underline;
}
a img {
  margin: 5px;
}
li a {
  word-break: break-word;
}

article.content {
  margin-top: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: row;
  align-self: start;
  row-gap: 0;
}
article h3,
article h4 {
  font-family: ArticleFont;
  font-weight: bolder;
  margin: 2rem auto 0.5em;
}
article p + ul,
article p + ol {
  margin-top: -1em;
}
article > p > strong:first-child {
  font-weight: normal;
  font-family: JournalFont, "Georgia", serif;
  color: var(--fg1);
  font-size: 1.8em;
  text-shadow: 1px 3px var(--sh);
}

article > *:not(.side) {
  grid-column: content-start / content-end;
}
article > p::before, article > p::after { content:""; }
article > p::before { grid-column: left / content-start; }
article > p::after { grid-column: content-end / right; }

article > hr {
  width: 100%;
  border-width: .2em 0;
  border-color: var(--sh) transparent var(--shade);
  border-style: dashed;
  mix-blend-mode: screen;
}

article header * {
  margin: 0;
}
article header cite {
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: pre;
  font-size: 0.7em;
}
article header h5 {
  display: flex;
  gap: 0.2em;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  line-height: 1em;
}
article header h5 code {
  font-size: 3em;
  line-height: 1em;
  padding: 0 .1em;
  font-family: ArticleFont;
}
article header h5 div {
  overflow-x: hidden;
}
