#layout {
  display: grid;
  grid-template-columns:
  [left] 1fr
  [content-start] minmax(300px, min(700px, 40vw))
  [content-end] 1fr
  [right];
  column-gap: 1.5rem;
  flex-grow: 1;
}

.sticky-sentinel {
  display: block;
  height: 1px; /* avoid 0 to stop jitter boundary */
  position: relative;
  /* background: red; */
}

.nav.side {
  position: sticky;
  top: 90px;
}
h1, h2, article h3, article h4, article h5, article h6 {
  margin: auto;
  position: sticky;
  cursor: pointer;
  transition:
    width 0.2s ease,
    font-size 0.5s ease,
    margin 0.3s ease,
    padding 0.1s ease,
    font-weight 0.8s ease,
    line-height 0.2s ease,
    margin-left 0.2s linear,
    margin-right 0.2s linear;
}
h1 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
h2 {
  z-index: 5;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
  margin: 0 auto;
}
article h3, article h4 {
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
  margin: 0.5em auto;
}
article h3 { font-size: 3.4em }
article h4 { font-size: 1.5em }
h2 {
  font-size: 7em;
  text-shadow: 0 .06em var(--sh);
  position: sticky;
  top: 0px;
}
article h3, article h4 {
  text-shadow: 0 .06em var(--sh);
  top: 40px;
}
.is-sticky {
  width: 50%;
  padding: 0;
  margin: 0 auto;
  z-index: 5;
  height: 40px;
  place-content: center;
  border-bottom: 1px solid var(--shade);
  line-height: 0.9em;
}
h2.is-sticky {
  font-size: 2em !important;
  font-weight: normal;
  width: 100%;
}
h3.is-sticky, h4.is-sticky {
  font-weight: normal;
}
h3.is-sticky {
  font-size: 1.1em !important;
  margin-right: 50% !important;
}
h4.is-sticky {
  font-size: 1em !important;
  margin-left: -50% !important;
  margin-left: 50% !important;
}
h3:has(~ h3.is-sticky),
h4:has(~ h4.is-sticky) {
  position: static;
}

aside.side {
  font-size: 0.9em;
  text-align: left;
}
aside.side ul,
aside.side ol {
  padding-left: 0;
  line-height: 1.2em;
}
aside.side li {
  margin-left: 1em;
  line-height: 1.2em;
}
aside.side a {
  color: var(--fg2);
  text-decoration: none;
}
aside.side a:hover {
  text-decoration: underline;
}

#by-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  color: var(--fg2);
  text-shadow: 0 2px var(--sh);
}
.size {
  font-family: ArticleFont !important;
}
.tags {
  font-family: monospace;
  mix-blend-mode: luminosity;
}
.tags span {
  display: inline-block;
  padding: 0.2em 0.8em;
  color: var(--fg1);
  background: var(--bg2);
  border: 1px solid #00000080;
  border-left: none;
  border-right: 0.25em dashed #00000080;
}
.tags span:first-child {
  border-left: 0.25em dashed #00000080;
}

article {
  font-family: ArticleFont, "Times New Roman", times, serif;
  font-size: 1.3rem;
  text-align: justify;
}
a {
  color: var(--fg1);
  text-decoration: underline;
}
a img {
  margin: 5px;
}

article.content {
  margin-top: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: row;
  row-gap: 0;
}
article h3,
article h4 {
  font-family: ArticleFont;
  font-weight: bolder;
  margin: 2rem auto 0 !important;
}
article > *:not(.side) {
  grid-column: content-start / content-end;
}
article p + ul,
article p + ol {
  margin-top: -1em;
}
article > p > strong:first-child {
  font-weight: normal;
  font-family: JournalFont, "Georgia", serif;
  font-size: 1.8em;
  text-shadow: 1px 3px var(--sh);
}
article > p::before,
article > p::after { content:""; }
article > p::before { grid-column: left / content-start; }
article > p::after { grid-column: content-end / right; }

article > hr {
  width: 100%;
  border-width: .2em 0;
  border-color: var(--sh) transparent var(--shade);
  border-style: dashed;
  mix-blend-mode: screen;
  filter: drop-shadow(0 .3em 0 var(--accent));
}
