#layout {
  display: grid;
  grid-template-columns:
  [left] 1fr
  [content-start] minmax(300px, min(700px, 40vw))
  [content-end] 1fr
  [right];
  column-gap: 1.5rem;
  flex-grow: 1;
}

article {
  font-family: ArticleFont, "Times New Roman", times, serif;
  font-size: 1.3rem;
  text-align: justify;
}
h1 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
h2, h3 {
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
  margin: 0.5em auto;
}
h2 { font-size: 7em }
h3 { font-size: 3.4em }
h4 { font-size: 1.5em }
h2, h3, h4 {
  text-shadow: 0 .06em var(--sh);
}
a {
  color: var(--fg1);
  text-decoration: underline;
}
a img {
  margin: 5px;
}

article.content {
  margin-top: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: row;
  row-gap: 0;
}
article h3,
article h4 {
  font-family: ArticleFont;
  font-weight: bolder;
  margin: 2rem auto 0 !important;
}
article > *:not(.side) {
  grid-column: content-start / content-end;
  /* margin: 0; */
}
article p + ul,
article p + ol {
  margin-top: -1em;
}
article > p > strong:first-child {
  font-weight: normal;
  font-family: JournalFont, "Georgia", serif;
  font-size: 1.8em;
  text-shadow: 1px 3px var(--sh);
}
article > p::before,
article > p::after { content:""; }
article > p::before { grid-column: left / content-start; }
article > p::after { grid-column: content-end / right; }
