#title-stack {
  padding-top: 12em;
  padding-bottom: 15em;
}
#title-stack h1 {
  font-size: 10em;
}
#replication {
  margin-top: -5em;
}

@media (max-width: 1600px) {
}
@media (max-width: 950px) {
  html::before{
    background:
      /* wider oval for very narrow display */
      radial-gradient(
        ellipse 220% 85% at 50% 0%,
        var(--bg2) 0%,
        var(--bg1) 64%, var(--bg1) 100%
      ),
      var(--bg1);
  }

  .nav.side { position: initial; }
  #title-stack { padding-bottom: 12em; }
  #title-stack h1 { font-size: 6em; }
  .links img { width: 40px; }
  article { font-size: 1em; }
  h2 { font-size: 3em; }
  h3 { font-size: 2.3em; }
  /* #replication { margin-top: -3.5em; } */
  .side.left,
  .side.right {
    grid-column: content-start / content-end;
    justify-self: center;
    width: 100%;
  }
  .side img {
    max-height: 40vh;
    margin: 0 auto;
  }
  #layout {
    grid-template-columns:
      [left] 1fr
      [content-start] minmax(200px, min(700px, 60vw))
      [content-end] 1fr
      [right];
  }
}
@media (max-width: 550px) {
  .links img { width: 28px; }
  article { font-size: 0.9em; }
  h2 { font-size: 2.4em; }
  h3 { font-size: 2em; }
}
@media (max-width: 350px) {
  #title-stack { padding-bottom: 9em; }
  #title-stack h1 { font-size: 4em; }
  .links img { width: 18px; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.8em; }
  article { font-size: 0.8em; }
  article ol, article ul { padding-left: 0.5em; }
}
